h1{
    font-size: 300%;
    text-align: center;
}
input {
    border-radius: 40px; 
    height: 40px; 
    width: 200px;
    padding: 5px; 
    border: 1px solid #da5c5c;
    box-sizing: border-box; 
    margin-bottom: 10px; 
}